/* src/App.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6; /* Color de fondo */
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #f3f4f6;
}

.login-container h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.login-container form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-container input,
.login-container button {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-container input:focus {
  outline: none;
  border-color: #007bff;
}

.login-container button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.login-container button:hover {
  background-color: #0056b3;
}
