/* Reset y ajustes generales */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global para el body */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6; /* Fondo claro */
  margin: 0;
  padding: 0;
}

/* Estilos generales para el header */
/* Estilos generales para el header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 10px 30px; /* Ajusta el padding para reducir la altura */
  color: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo */
.logo-container {
  flex: 0 0 auto; /* No crecer ni encogerse */
}

.logo {
  height: 50px;
}

/* Estilos para la navegación */
.nav-links {
  display: flex;
  gap: 30px; /* Más espacio entre los enlaces */
}

.nav-link {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #61dafb;
}

.nav-link:focus {
  outline: 2px solid #61dafb;
}

.nav-link.conciertos {
  position: relative;
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #ff4d4d;
  color: #fff;
  font-size: 0.8em;
  padding: 2px 6px;
  border-radius: 12px;
}

/* Estilos para el área de usuario y notificaciones */
.user-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.notification-icon {
  position: relative;
  cursor: pointer;
}

.notification-icon .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff4d4d;
  color: #fff;
  font-size: 0.8em;
  padding: 2px 6px;
  border-radius: 12px;
}

.user-icon {
  cursor: pointer;
  transition: color 0.3s;
}

.user-icon:hover {
  color: #61dafb;
}

.language-select {
  
  background-color: #3a3f47;
  color: #f0f0f0;
  border: none;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}

.language-select option {
  background-color: #282c34;
  color: #f0f0f0;
}

/* Estilos para la barra de búsqueda */
.search-bar {
  background-color: #3a3f47;
  border: none;
  padding: 6px;
  color: #f0f0f0;
  border-radius: 4px;
  font-size: 1em;
  width: 250px;
  margin-left: 20px;
}

/* Asegura que la imagen del logo esté alineada a la izquierda y no se desplace */
.logo-container img {
  display: block;
  max-width: 30%;
  height: auto;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding: 10px; /* Reduce el espaciado en dispositivos móviles */
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar {
    width: 80%;
    margin-top: 10px;
  }

  .user-actions {
    gap: 10px;
  }
}
