body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.home {
  padding: 0 20px;
}

.hero {
  background-color: #1abc9c;
  color: white;
  padding: 100px 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: 'Roboto', sans-serif;
}

.hero p {
  font-size: 20px;
  margin-bottom: 0;
}

.section {
  margin-bottom: 60px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #2c3e50;
  border-bottom: 2px solid #1abc9c;
  display: inline-block;
  padding-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #1abc9c;
}

.card p {
  font-size: 16px;
  color: #555;
}

.social-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #1abc9c;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.social-link:hover {
  background-color: #16a085;
}

.lugar-card .imagen-lugar {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.evento-card {
  background-color: #ecf0f1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.evento-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.evento-card h3 {
  color: #e67e22;
  font-size: 22px;
  margin-bottom: 10px;
}

.evento-card p {
  font-size: 16px;
  color: #555;
}

.btn-comprar {
  background-color: #e67e22;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.btn-comprar:hover {
  background-color: #d35400;
  transform: scale(1.05);
}

.cart-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #1abc9c;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #e74c3c;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;

}