/* App.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 10px;
      justify-content: center;
    }
  
    .home-container {
      padding-top: 80px; /* Menos espacio arriba en dispositivos móviles */
    }
  
    .card {
      width: 100%;
    }
  }
  